/* Google font   */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@500&display=swap");
/* Comon utilites */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.container {
  background-color: white;
  width: 870px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 21px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Top player styling  */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: rgba(86, 46, 255, 1);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

.hr-under-top-players {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
/* Styling Top Blogs  */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 60px;
}
.thumbnail {
  display: flex;
}

.blog img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 30px;
}
.blog-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 10px;
}
.blog-author {
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
/* Styling the courses section  */
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
}